<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="${log.path:-./target}"/>
    <property name="log.pattern" value="%d{yyyy:MM:dd HH:mm:ss.SSS}:::[%thread]:::%level:::%logger{50}:::%msg%n"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${log.pattern}</pattern>
        </layout>
    </appender>

    <logger name="cn.lyjuan" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>